@import "../vars";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $header-color;
    
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .app-name {
    font-size: 1.4em;
    font-family: $hero-font;
  }
  
  .burger-menu {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
  }
  
  .menu {
    display: flex;
    gap: 15px;
  }
  
  .menu a {
    text-decoration: none;
    color: $font-color;
    padding: 1rem;

  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .burger-menu {
      display: block;
    }
  
    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: $header-color;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 1000;
      gap: 0;
    }
  
    .menu.open {
      display: flex;
    }
  
    .menu a {
      padding: 10px 20px;
      border-top: 1px solid #444;
    }
  }

.logo {
  max-height: 3rem;
}

.app-name:hover {
  cursor: pointer;
}