.login-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    width: 50%;
}
.login-form {
    width: 40vw;
}

@media (max-width: 768px) {
    .login-form {
        width: 80vw;
    }
    .login-row {
        width: 90%;
    }
}