<app-header></app-header>
<form  class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-row">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" />
    </div>
    <div class="login-row">
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
    </div>
    <div class="login-btns">
    <button type="submit">Login</button>
    <button routerLink="/register">Register</button>
</div>
    <div *ngIf="loginFailed" class="error-message">
        Login failed. Please try again. 
    </div>
</form>
