@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

$bg-color: #e2e2e2;
$font-color: #4B5842;
$container-color: white;
$header-color: hsl(75, 100%, 90%);
$font-family: Exo, sans-serif;
$hero-font: Cinzel, sans-serif;

