<!-- <app-header></app-header>
<div class="container" *ngIf="userDTO; else notLoggedIn">
    <h1>Team Details</h1>
    <ul>
      <li><strong>Email:</strong> {{ userDTO.email }}</li>
      <li><strong>Team Name:</strong> {{ userDTO.teamname }}</li>
      <li><strong>Country 1:</strong> {{ userDTO.country1 }}</li>
      <li><strong>Country 2:</strong> {{ userDTO.country2 }}</li>
      <li><strong>Country 3:</strong> {{ userDTO.country3 }}</li>
      <li><strong>Country 4:</strong> {{ userDTO.country4 }}</li>
      <li><strong>Country 5:</strong> {{ userDTO.country5 }}</li>
    </ul>
    <button (click)="logout()">Logout</button>
  </div>
  
  <ng-template #notLoggedIn>
    <div class="container">
        <p>Please log in to view your account</p>
        <button routerLink="/login">Login</button>
    </div>
  </ng-template> -->

  <app-header></app-header>
  <div class="container"  *ngIf="userDTO; else notLoggedIn">
  <div *ngIf="userDTO">
    <h2>Team Details</h2>
    <p><b>Teamname:</b> {{ userDTO.teamname }}</p>
    <p><b>Email:</b> {{ userDTO.email }}</p>
  
    <table>
      <thead>
        <tr>
          <th>Tier</th>
          <th>Country</th>
          <th>Gold</th>
          <th>Silver</th>
          <th>Bronze</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of [userDTO.country1, userDTO.country2, userDTO.country3, userDTO.country4, userDTO.country5]">
          <td>{{ country.tier }}</td>
          <td>{{ country.name }}</td>
          <td>{{ country.gold }}</td>
          <td>{{ country.silver }}</td>
          <td>{{ country.bronze }}</td>
          <td>{{ country.totalPoints }}</td>
        </tr>
      </tbody>
    </table>
  
    <p><b>Total Points:</b> {{ userDTO.totalPoints }}</p>
    <button (click)="logout()">Logout</button>
  </div>
</div>

<ng-template #notLoggedIn>
    <div class="container">
        <p>Please log in to view your account</p>
        <button routerLink="/login">Login</button>
    </div>
  </ng-template> 